.mapDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.widgetContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: absolute;
  right: 50px;
  bottom: 50px;
  width: auto;
  height: auto; 
  background-color: white;
}

/* TODO: Lag en klasse for widgetContainer i mobilmodus */
.widgetContainerMobile {

}